<a href="https://colab.research.google.com/github/Barathkirupakaran/Barathkirupakaran/blob/main/LIST%2CTUPLE%2CDIC%26SETS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **LIST FUNCTIONS**

*Append Function:*

In [ ]:
L1=[10,20,"RAVI","RAJA",2006]
L1.append(45)
L1

*Clear Function*

In [ ]:
l1=[10,20,"RAVI","RAJA",2006]
l1.clear()
l1

*Copy Function:*

In [ ]:
l1=[10,20,"RAVI","RAJA",2006]
l1.copy()

*Count Function:*

In [ ]:
l1=[10,20,"RAVI","RAJA",2006]
l1.count("RAJA")

*Extend Function:*

In [ ]:
l1=[10,20,"RAVI","RAJA",2006]
cars = ['Ford', 'BMW', 'Volvo']
l1.extend(cars)
l1

*Index Function*

In [ ]:
l1=[10,20,"RAVI","RAJA",2006]
l1.index(10)

*Insert Function:*

In [ ]:
l1=[10,20,"RAVI","RAJA",2006]
l1.insert(2,5)
l1

*Pop Function:*

In [ ]:
l1=[10,20,"RAVI","RAJA",2006]
l1.pop(2)
l1

*Remove Function:*

In [ ]:
l1=[10,20,"RAVI","RAJA",2006]
l1.remove(20,)
l1

[10, 'RAVI', 'RAJA', 2006]

*Reverse Function:*

In [ ]:
l1=[10,20,"RAVI","RAJA",2006]
l1.reverse()
l1

[2006, 'RAJA', 'RAVI', 20, 10]

*Sort Function:*

In [ ]:
l1=["BATMAN","BARATH","RAVI","RAJA",'SELENA']
l1.sort()
l1

['BARATH', 'BATMAN', 'RAJA', 'RAVI', 'SELENA']

# **TUPLE FUNCTIONS**

*Count Function:*

In [ ]:
welcome=("WELCOME TO BANKOK")
welcome.count("K")

2

*Index Function:*

In [ ]:
country_Visited=('France','England','Germany','Italy','Bankok','Singapore')
country_Visited.index('Bankok')

4

# **DICTIONARY FUNCTIONS**

*Clear Funtion:*

In [ ]:
car = {"brand": "Ford","model": "Mustang","year": 1964}
car.clear()
car

*Copy Funtion*

In [ ]:
car = {"brand": "Ford","model": "Mustang","year": 1964}
x=car.copy()
x

*Fromkeys Function:*

In [ ]:
car = {"brand","model","year"}
mode = {"honda","civic","2022"}
thisdict = dict.fromkeys(car,mode)
thisdict

{'brand': {'2022', 'civic', 'honda'},
 'model': {'2022', 'civic', 'honda'},
 'year': {'2022', 'civic', 'honda'}}

*Get Funtion:*

In [ ]:
car = {"brand": "Ford","model": "Mustang","year": 1964}
x=car.get("model")
x

'Mustang'

*Items Function:*

In [ ]:
car = {"brand": "Ford","model": "Mustang","year": 1964}
x = car.items()
print(x)

*Keys Function:*

In [1]:
car = {"brand": "Ford","model": "Mustang","year": 1964}
x = car.keys()
print(x)

dict_keys(['brand', 'model', 'year'])

*Pop Funtion:*

In [2]:
car = {"brand": "Ford","model": "Mustang","year": 1964}
car.pop("model")
print(car)

{'brand': 'Ford', 'year': 1964}

*Pop Items:*

In [5]:
car = {"brand": "Ford","model": "Mustang","year": 1964}
car.popitem()
print(car)

{'brand': 'Ford', 'model': 'Mustang'}

*Setdefault Function:*

In [6]:
car = {"brand": "Ford","model": "Mustang","year": 1964}
x = car.setdefault("model", "Bronco")
print(x)

Mustang

*Update Function:*

In [8]:
car = {"brand": "Ford","model": "Mustang","year": 1964}
car.update({"color": "Purple"})
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'Purple'}

*Values Funtion:*

In [9]:
car = {"brand": "Ford","model": "Mustang","year": 1964}
x = car.values()
print(x)

dict_values(['Ford', 'Mustang', 1964])

# **SETS FUNCTIONS**

*Add Funtion:*

In [10]:
cars = {"Ford", "BMW", "Volvo"}
cars.add("Honda")
cars

{'BMW', 'Ford', 'Honda', 'Volvo'}

*Clear Funtion:*

In [11]:
cars = {"Ford", "BMW", "Volvo"}
cars.clear()
cars

set()

*Copy Funtion:*

In [12]:
cars= {"Ford", "BMW", "Volvo"}
x=cars.copy()
x

{'BMW', 'Ford', 'Volvo'}

*Difference Function:*

In [15]:
cars= {"Ford", "BMW", "Volvo"}
y= {"Ford", "BMW", "Tesla"}
x=cars.difference(y)
x

{'Volvo'}

*Difference Update Function:*

In [16]:
cars= {"Ford", "BMW", "Volvo"}
y= {"Ford", "BMW", "Tesla"}
cars.difference_update(y)
cars

{'Volvo'}

*Discard Function:*

In [17]:
cars= {"Ford", "BMW", "Volvo"}
cars.discard("BMW")
cars

{'Ford', 'Volvo'}

*Intersection:*

In [18]:
cars= {"Ford", "BMW", "Volvo"}
y= {"Ford", "BMW", "Tesla"}
x=cars.intersection(y)
x

{'BMW', 'Ford'}

*Intersection Update:*

In [19]:
cars= {"Ford", "BMW", "Volvo"}
y= {"Ford", "BMW", "Tesla"}
cars.intersection_update(y)
cars

{'BMW', 'Ford'}

Isdisjoint Funtion:

In [20]:
#Return True if no items in set x is present in set y:
cars= {"Ford", "BMW", "Volvo"}
y= {"Tesla", "Kia"}
x=cars.isdisjoint(y)
x

True

*Issubset Funtion:*

In [21]:
#Return True if all items in set x are present in set y:
cars= {"Ford", "BMW", "Volvo"}
y= {"Ford", "BMW", "Tesla"}
x=cars.issubset(y)
x

False

*Issuperset Funtion:*

In [22]:
#Return True if all items set y are present in set x:
cars= {"Ford", "BMW", "Volvo"}
y= {"Ford", "BMW", "Tesla"}
x=cars.issuperset(y)
x

False

*Pop Funtion:*

In [23]:
cars= {"Ford", "BMW", "Volvo"}
cars.pop()
cars

{'Ford', 'Volvo'}

*Remove Funtion:*

In [24]:
cars= {"Ford", "BMW", "Volvo"}
cars.remove("BMW")
cars

{'Ford', 'Volvo'}

*Symmetric Difference Funtion:*

In [25]:
# Return a set that contains all items from both sets, except items that are
# present in both sets
cars= {"Ford", "BMW", "Volvo"}
y= {"Ford", "BMW", "Tesla"}
x=cars.symmetric_difference(y)
x

{'Tesla', 'Volvo'}

*Symmetric Difference Update:*

In [26]:
# Return a set that contains all items from both sets, except items that are
# present in both sets
cars= {"Ford", "BMW", "Volvo"}
y= {"Ford", "BMW", "Tesla"}
cars.symmetric_difference_update(y)
cars

{'Tesla', 'Volvo'}

*Union Function:*

In [27]:
cars= {"Ford", "BMW", "Volvo"}
y= {"Ford", "BMW", "Tesla"}
x=cars.union(y)
x

{'BMW', 'Ford', 'Tesla', 'Volvo'}

*Update Funtion:*

In [28]:
cars= {"Ford", "BMW", "Volvo"}
y= {"Ford", "BMW", "Tesla"}
cars.update(y)
cars

{'BMW', 'Ford', 'Tesla', 'Volvo'}